<link rel="stylesheet" href="/css/sidebar_adm.css">

<aside class="sidebar" role="complementary" aria-label="Barra lateral do usuário">
  <nav class="user-info">
    <img src="/imagem/avatar.png" alt="Foto do usuário" class="avatar">
    <p class="username">Administrador</p>
  </nav>

  <nav class="sidebar-nav" aria-label="Navegação do usuário">
    <ul>
      <li>
        <a href="/adm">
          <span class="two-line">
            <span class="l1">Dashboard</span>
            
          </span>
        </a>
      </li>

      <li>
        <a href="/adm/usuarios_cadastrados">
          <span class="two-line">
            <span class="l1">Usuários Cadastrados</span>
            
          </span>
        </a>
      </li>

      <li>
        <a href="/adm/produtos_adm">
          <span class="two-line">
            <span class="l1">Produtos</span>
            
          </span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
