<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Acesso Restrito</title>
    <link rel="stylesheet" href="/css/adm-login.css">
  <link rel="stylesheet" href="/css/darkmode.css">
</head>
<body>

  <nav class="container">
    <h2>Acesso Restrito</h2>

    <form action="/adm-login" method="POST">
      <input type="password" name="senha" placeholder="Digite a senha" required>
      <button type="submit">Entrar</button>
    </form>

    <a href="/login">Voltar</a>
  </nav>

  <script src="/js/darkmode.js"></script>
</body>
</html>